.nav-title {
  font-size: 24px;
  font-weight: 700;
  display: inline-block;
  color: #faf7e2;
  padding-left: 10px;
}

.nav {
  margin: 0 0 30px;
  background-color: #f59f2c;
  overflow: hidden;
}

.nav-link {
  float: left;
  color: #faf7e2;
  background-color: #f59f2c;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.nav-link:hover {
  background-color: #f5c74c;
}

.nav-right {
  float: right;
}

img {
  max-width: 15%;
}

.logo {
  max-width: 15%;
  height: auto;
  padding: 1;
}
