.nav-title {
  font-size: 10vw;
  font-weight: 700;
  display: inline-block;
  color: #faf7e2;
}

.nav {
  margin: 0 0 30px;
  background-color: #f59f2c;
  overflow: hidden;
}

.nav-link {
  float: left;
  color: #faf7e2;
  background-color: #f59f2c;
  text-align: center;
  padding: 15px 10px;
  text-decoration: none;
  font-size: 4vw;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.nav-link:hover {
  color: #f5c74c;
  background-color: #f57e1d;
}

.nav-right {
  float: right;
  margin-top: 0%;
  padding: 0px 15px;
}

img {
  max-width: 30vw;
}

.logo {
  max-width: 25vw;
  height: auto;
  padding-left: 12vw;
}
